<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Agence de Voyage</title>
    <link
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />
  </head>
  <body id="body-content" class="container p-5">
    <h1 class="text-center">✈️ Agence de voyage ✈️</h1>
    <h2>Nos offres</h2>
    <div id="card-content" class="row"></div>
    <script>
      window.controllers.loadController("home");
    </script>
  </body>
</html>
